---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rmq
  namespace: weather
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rmq
  template:
    metadata:
      labels:
        app: rmq
    spec:
      containers:
        - name: rabbitmq
          image: rabbitmq:4.1.0-management
          ports:
            - containerPort: 5672
            - containerPort: 15672
          readinessProbe:
            tcpSocket:
              port: 5672
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6

          livenessProbe:
            tcpSocket:
              port: 5672
            initialDelaySeconds: 60
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 6

---
apiVersion: v1
kind: Service
metadata:
  name: rmq
  namespace: weather
spec:
  selector:
    app: rmq
  ports:
    - name: amqp
      port: 5672
    - name: management
      port: 15672
