---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather
  namespace: weather
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather
  template:
    metadata:
      labels:
        app: weather
    spec:
      containers:
        - name: weather
          image: ghcr.io/datew0/weather-prediction-weather:latest
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: weather-env
---
apiVersion: v1
kind: Service
metadata:
  name: weather
  namespace: weather
spec:
  type: NodePort
  selector:
    app: weather
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
