---
- name: Install Docker using role
  hosts: all
  become: true

  vars:
    docker_users:
      - ubuntu
    docker_install_compose: true
    app_dir: /home/ubuntu/weather-app
    repo_url: https://github.com/datew0/weather-prediction.git

  roles:
    - geerlingguy.docker

  tasks:
    - name: Reset SSH connection to apply new group membership
      meta: reset_connection

    - name: Clone application repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
      become: false

    - name: Create .env file for Docker Compose
      copy:
        dest: "{{ app_dir }}/.env"
        owner: "{{ app_user }}"
        group: "{{ app_user }}"
        mode: "0640"
        content: |
          PROJECT_NAME=Weather Service Project

          # App
          WEATHER_HOST=weather
          WEATHER_PORT=80

          # API
          ARCHIVE_WEATHER_URL=https://archive-api.open-meteo.com/v1/archive

          # Redis
          REDIS_HOST=redis
          REDIS_PORT=6379

          # RabbitMQ
          RABBITMQ_HOST=rmq
          RABBITMQ_PORT=5672
          RABBITMQ_USER=guest
          RABBITMQ_PASS=guest
          RABBITMQ_FC_REQ_QUEUE=forecast_requests
      become: false

    - name: Run docker compose up
      command: docker compose up -d
      args:
        chdir: "{{ app_dir }}"
      become: false
