---
- name: Deploy Weather Prediction application
  hosts: all
  become: true
  gather_facts: false

  vars:
    docker_users:
      - ubuntu
    docker_install_compose: true
    app_dir: /home/ubuntu/weather-app
    repo_url: https://github.com/datew0/weather-prediction.git
    docker_registry_user: "{{ lookup('env', 'DOCKER_REGISTRY_USER') }}"
    docker_registry_token: "{{ lookup('env', 'DOCKER_REGISTRY_TOKEN') }}"

  pre_tasks:
    - name: Wait for SSH to become available
      wait_for_connection:
        timeout: 300

    - name: Gather facts after SSH is ready
      setup:

  roles:
    - geerlingguy.docker

  tasks:
    - name: Reset SSH connection to apply new group membership
      meta: reset_connection

    - name: Clone application repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
      become: false

    - name: Create .env file for Docker Compose
      copy:
        dest: "{{ app_dir }}/.env"
        mode: "0640"
        content: |
          PROJECT_NAME=Weather Service Project

          # App
          WEATHER_HOST=weather
          WEATHER_PORT=80

          # API
          ARCHIVE_WEATHER_URL=https://archive-api.open-meteo.com/v1/archive

          # Redis
          REDIS_HOST=redis
          REDIS_PORT=6379

          # RabbitMQ
          RABBITMQ_HOST=rmq
          RABBITMQ_PORT=5672
          RABBITMQ_USER=guest
          RABBITMQ_PASS=guest
          RABBITMQ_FC_REQ_QUEUE=forecast_requests
      become: false

    - name: Docker Registry login
      docker_login:
        registry_url: ghcr.io
        username: "{{ docker_registry_user }}"
        password: "{{ docker_registry_token }}"
      become: false

    - name: Run docker compose up
      command: docker compose up -d
      args:
        chdir: "{{ app_dir }}"
      become: false
