- hosts: all
  gather_facts: false
  tasks:
    - name: Wait for SSH to become available
      ansible.builtin.wait_for:
        host: "{{ inventory_hostname }}"
        port: 22
        delay: 10
        timeout: 300

    - name: Ansible ping
      ansible.builtin.ping:
